<br /><br />
<div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
        <div class="panel-heading text-center">Autentique-se</div>
        <div class="panel-body">
            <form name="LoginForm" ng-submit="vm.submit()" novalidate>
                <div class="form-group">
                    <label>E-mail</label>
                    <input ng-model="vm.login.username"
                           type="text"
                           class="form-control"
                           id="usuario"
                           name="usuario"
                           placeholder="informe seu usuário"
                           required />
                </div>
                <div ng-show="LoginForm.usuario.$invalid && LoginForm.usuario.$dirty"
                     class="alert alert-danger">
                    necessário informar o usuário de acesso
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error' : LoginForm.password.$invalid && LoginForm.password.$dirty }">
                    <label>senha</label>
                    <input ng-model="vm.login.password"
                           ng-minlength="6"
                           type="password"
                           id="password"
                           name="password"
                           class="form-control"
                           required />
                </div>
                <div ng-show="LoginForm.password.$invalid && LoginForm.password.$dirty"
                     class="alert alert-danger">senha inválida</div>
                <div ng-show="LoginForm.password.$error.minlength"
                     class="alert alert-danger">senha deve possuir no minimo 6 caracteres</div>
                <button class="btn btn-primary btn-block"
                        ng-disabled="LoginForm.$invalid || LoginForm.$pristine">
                    Login
                </button>
            <div>&nbsp;</div>
            <a href="#/signIn" class="btn btn-success btn-block">Cadastre-se já</a>
            </form>
        </div>
    </div>
</div>
<div id="fb-root"></div>
